$panel-overlap: 40px;

.page-panel  {
  float: left;
  font-size: 12px;
  width: 100px;
  display: inline-table;
  margin-left: -$panel-overlap;
  box-shadow: -20px 19px 12px -19px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  margin-top: 5px;

  //  Playground for background-image out of favicon
  //  background-size: 300px 300px;
  //  background-repeat: no-repeat;

  &.visits-1 { width: 110px; }
  &.visits-2 { width: 120px; }
  &.visits-3 { width: 200px; }
  &.same {
    margin-left: -5px;
  }

  &.www_google_d,&.www_google_c {
    box-shadow: none;
  }

  &:hover {
    z-index: 5;
    position: relative;
    margin-top: -5px;
    margin-bottom: 10px;
    transition: margin .2s ease-out, box-shadow .2s ease-out;
    box-shadow: 0px 22px 52px -18px rgb(0, 0, 0);
  }
}

.panel-group {
  margin-right: 5px;
}

.context-options {
  float: left;
  margin: 25px (0px+$panel-overlap) 0px 50px;
  padding: 0 10px;
  height: 104px;
  .panel-group:first-child & {
    margin-left: 0;
  }
  &:before {
    content: "{";
    position: absolute;
    font-size: 130px;
    margin-top: -40px;
    margin-left: -40px;
    color: #FFF;
    opacity: .2;
  }
  .context-name {
    margin: 10px 0;
    text-align: center;
  }
  .context-info {
    margin: 10px 0;
    text-align: center;
  }
  .context-toggle {
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &:hover {
      background: #FFF;
    }
  }
}


.panel-tab {
  height: 20px;
  position: relative;
  .ear {
    height: 20px;
    border-radius: 5px 5px 0 0;
  }
  .panel-tab-ear {
    position: absolute;
    bottom: 0;
    display: table-caption;
    width: 100px;
    background: #AD3535;
    cursor: pointer;

    &:hover {
      padding: 1px 0;
      height: 14px;
      transition: height 2ms;
    }
  }
  .panel-open-tab-ear {
    display: none;
    .page-panel:hover & {
      display: block;
      width: 11px;
      margin-left: 14px;
      font-size: 20px;
      line-height: 16px;
      padding: 0 10px;
      border: 1px dashed rgba(0, 0, 0, 0.47);
      border-bottom: 0;
    }
  }
  .page-panel:hover & {
    .panel-tab-ear {
      background: #FFF;
    }
  }
}


.panel-head {
  background: #E9E9E9;
  padding: 4px;
  height: 16px;
  .panel-favicon {
    display: inline-block;
  }
  .panel-contexts {
    display: inline-block;
    border: 2px solid #FFF;
    height: 15px;
    background: #FFF;
//    opacity: .5;
    float: right;
    &:hover {
      opacity: 1;
    }
  }
  .bookmark & {
  }
  .tab & {
    opacity: 1;
  }
  .page-panel:hover & {
  }
  .www_google_d &, .www_google_c &{
    background: none;
    position: absolute;

  }
}


.panel-content {
  display: block;
  color: #000;
  background: #FFF;
//  opacity: .77;
  min-height: 70px;
  padding: 5px;
  .developer_ch & {
    background: black;
    color: white;
  }
  .www_google_d &, .www_google_c & {
    background: url("../images/searchbubble.png") no-repeat;
    background-size: 100% 100%;
    padding: 34px 10px 0 10px;
    font-style: italic;
  }
  .stackoverflo & {
    background: #F08C3B;
  }
  .de_wikipedia &, .en_wikipedia & {
    background: #FFF;
  }
  .pdf &, .jpg &, .txt &, .png &, .mp3 &, .mp4 &, .svg &, .bmp & {
    background: yellow;
  }
  .page-panel:hover & {
    background: #FFF !important;
    opacity: 1;
  }
}