.panel  {
  float: left;
  font-size: 12px;
  width: 100px;
  display: inline-table;
  margin: 2px;
  box-shadow: 5px 4px 14px -8px rgba(0, 0, 0, 0.72);
  cursor: pointer;
  //  Playground for background-image out of favicon
  //  background-size: 300px 300px;
  //  background-repeat: no-repeat;
  &.visits-1 {
    width: 110px;
  }
  &.visits-2 {
    width: 120px;
  }
  &.visits-3 {
    width: 200px;
  }
  &.same {
    margin-left: -5px;
  }
  .tab {
    height: 20px;
    .ear {
      display: table-caption;
      width: 100px;
      height: 20px;
      border-radius: 5px 5px 0 0;
      background: #AD3535;
      cursor: pointer;
      &:hover {
      }
    }
  }
  .head {
    background: #E9E9E9;
    padding: 4px;
    height: 16px;
    .favicon {
      display: inline-block;
    }
    .contexts {
      display: inline-block;
    }
    &:hover {

    }
  }
  &.bookmark .head {
    //    background: #353535;
    //    opacity: 0.7;
  }
  &.tab .head {
    //    background: yellow;
    opacity: 1;
  }
  .content {
    color: #000;
    background: rgba(255, 255, 255, 0.77);
    min-height: 70px;
    padding: 2px;
  }
  &:hover {
    .tab {
      .ear {
        background: #FFF;
      }
    }
    .head {
      opacity: .8 !important;
    }
    .content {
      background: #FFF !important;
      opacity: 1;
    }
  }
}