/**
 * This is the main SCSS file and should be the only one that
 * is actually exported to CSS.
 */
/* line 1, _standards.scss */
body {
  background: #1B746E;
  padding: 10px;
  margin: 0;
}

/* line 7, _standards.scss */
ul {
  padding: 0;
}
/* line 9, _standards.scss */
ul li {
  list-style: none;
}

/* line 14, _standards.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 3, _page-panel.scss */
.page-panel {
  float: left;
  font-size: 12px;
  width: 100px;
  display: inline-table;
  margin-left: -40px;
  box-shadow: -20px 19px 12px -19px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  margin-top: 5px;
}
/* line 17, _page-panel.scss */
.page-panel.visits-1 {
  width: 110px;
}
/* line 18, _page-panel.scss */
.page-panel.visits-2 {
  width: 120px;
}
/* line 19, _page-panel.scss */
.page-panel.visits-3 {
  width: 200px;
}
/* line 20, _page-panel.scss */
.page-panel.same {
  margin-left: -5px;
}
/* line 24, _page-panel.scss */
.page-panel.www_google_d, .page-panel.www_google_c {
  box-shadow: none;
}
/* line 28, _page-panel.scss */
.page-panel:hover {
  z-index: 5;
  position: relative;
  margin-top: -5px;
  margin-bottom: 10px;
  transition: margin .2s ease-out, box-shadow .2s ease-out;
  box-shadow: 0px 22px 52px -18px black;
}

/* line 38, _page-panel.scss */
.panel-group {
  margin-right: 5px;
}

/* line 42, _page-panel.scss */
.context-options {
  float: left;
  margin: 25px 40px 0px 50px;
  padding: 0 10px;
  height: 104px;
}
/* line 47, _page-panel.scss */
.panel-group:first-child .context-options {
  margin-left: 0;
}
/* line 50, _page-panel.scss */
.context-options:before {
  content: "{";
  position: absolute;
  font-size: 130px;
  margin-top: -40px;
  margin-left: -40px;
  color: #FFF;
  opacity: .2;
}
/* line 59, _page-panel.scss */
.context-options .context-name {
  margin: 10px 0;
  text-align: center;
}
/* line 63, _page-panel.scss */
.context-options .context-info {
  margin: 10px 0;
  text-align: center;
}
/* line 67, _page-panel.scss */
.context-options .context-toggle {
  background: #000;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 10px auto;
}
/* line 73, _page-panel.scss */
.context-options .context-toggle:hover {
  background: #FFF;
}

/* line 80, _page-panel.scss */
.panel-tab {
  height: 20px;
  position: relative;
}
/* line 83, _page-panel.scss */
.panel-tab .panel-tab-ear {
  position: absolute;
  bottom: 0;
  display: table-caption;
  width: 100px;
  height: 20px;
  border-radius: 5px 5px 0 0;
  background: #AD3535;
  cursor: pointer;
}
/* line 92, _page-panel.scss */
.panel-tab .panel-tab-ear:hover {
  padding: 1px 0;
  height: 14px;
  transition: height 2ms;
}
/* line 99, _page-panel.scss */
.page-panel:hover .panel-tab .panel-tab-ear {
  background: #FFF;
}

/* line 106, _page-panel.scss */
.panel-head {
  background: #E9E9E9;
  padding: 4px;
  height: 16px;
}
/* line 110, _page-panel.scss */
.panel-head .panel-favicon {
  display: inline-block;
}
/* line 113, _page-panel.scss */
.panel-head .panel-contexts {
  display: inline-block;
  border: 2px solid #FFF;
  height: 15px;
  background: #FFF;
  float: right;
}
/* line 120, _page-panel.scss */
.panel-head .panel-contexts:hover {
  opacity: 1;
}
/* line 126, _page-panel.scss */
.tab .panel-head {
  opacity: 1;
}
/* line 131, _page-panel.scss */
.www_google_d .panel-head, .www_google_c .panel-head {
  background: none;
  position: absolute;
}

/* line 139, _page-panel.scss */
.panel-content {
  display: block;
  color: #000;
  background: #FFF;
  min-height: 70px;
  padding: 5px;
}
/* line 146, _page-panel.scss */
.developer_ch .panel-content {
  background: black;
  color: white;
}
/* line 150, _page-panel.scss */
.www_google_d .panel-content, .www_google_c .panel-content {
  background: url("../images/searchbubble.png") no-repeat;
  background-size: 100% 100%;
  padding: 34px 10px 0 10px;
  font-style: italic;
}
/* line 156, _page-panel.scss */
.stackoverflo .panel-content {
  background: #F08C3B;
}
/* line 159, _page-panel.scss */
.de_wikipedia .panel-content, .en_wikipedia .panel-content {
  background: #FFF;
}
/* line 162, _page-panel.scss */
.pdf .panel-content, .jpg .panel-content, .txt .panel-content, .png .panel-content, .mp3 .panel-content, .mp4 .panel-content, .svg .panel-content, .bmp .panel-content {
  background: yellow;
}
/* line 165, _page-panel.scss */
.page-panel:hover .panel-content {
  background: #FFF !important;
  opacity: 1;
}

/* line 17, main.scss */
.debug {
  background: yellow;
  position: absolute;
  padding: 0 10px 0 20px;
  top: 0;
  left: 0;
  width: 200px;
  overflow: auto;
  opacity: .8;
}
/* line 26, main.scss */
.debug:hover {
  width: 70%;
}
/* line 31, main.scss */
.debug pre {
  color: #0048FF;
  max-height: 200px;
  overflow: hidden;
}
/* line 35, main.scss */
.debug pre:hover {
  max-height: inherit;
}

/* line 42, main.scss */
#panel-overview {
  margin-left: 240px;
}

/* line 46, main.scss */
#config-bar {
  margin-left: 240px;
  display: none;
}

/*# sourceMappingURL=main.css.map */