/**
 * This is the main SCSS file and should be the only one that
 * is actually exported to CSS.
 */

@import
"variables"
, "standards"
, "page-panel"
, "layout"
;





.debug {
  background: yellow;
  position: absolute;
  padding: 0 10px 0 20px;
  top: 0;
  left: 0;
  width: 200px;
  overflow: auto;
  opacity: .8;
  &:hover {
    width: 70%;
  }
  h3 {
  }
  pre {
    color: #0048FF;
    max-height: 200px;
    overflow: hidden;
    &:hover {
      max-height: inherit;
    }
  }
}


#panel-overview {
  margin-left: 240px;
}

#config-bar {
  margin-left: 240px;
  display: none;
}



