<div class="page-panel" ng-class="getPanelClasses(site)">

  <div class="panel-tab" >
    <div class="panel-tab-ear ear" ng-if="isTab(site)" ng-click="closeTab(site)"></div>
    <div class="panel-open-tab-ear ear" ng-if="!isTab(site)" ng-click="createTab(site)">+</div>
  </div>

  <div class="panel-head" style="{{getContextColor(site)}}">
    <div class="panel-favicon"><img ng-src="{{'chrome://favicon/'+site.url}}"></div>
    <div class="panel-contexts" ng-if="site.context" ng-click="setBookmark(site)">{{site.context}}</div>
    <!--<button>Set Context / Bookmark</button>-->
  </div>

  <div class="panel-content" style="{{getContextColorIfBookmark(site)}}" ng-click="activateTab(site)" ng-if="isTab(site)">
    <div>{{site.title | limitTo:30}}</div>
  </div>

  <a class="panel-content" href="{{site.url}}" style="{{getContextColorIfBookmark(site)}}" ng-if="!isTab(site)">
    <div>{{getTitle() | limitTo:30}}</div>
    <!--<a ng-click="toggleContext(site.context)">toggle</a>-->
  </a>

</div>